.tarja {
    color: black; /* Cor do texto */
    padding: 20px;
    margin: 10px 0;
    text-align: center;
  }
  
  .setembro {
    background-color: yellow;
  }
  
  .outubro {
    background-color: pink;
  }
  
  .novembro {
    background-color: blue;
  }